<!DOCTYPE html>
<html>
<head>
  <title>Shortened URL</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h2>Your Shortened URL</h2>
    <p><a href="<%= shortUrl %>"><%= shortUrl %></a></p>
    <br>
    <a href="/">Shorten another URL</a>
  </div>
</body>
</html>
